.App {
  display: flex;
  justify-Content: center;
  align-Items: center;
  padding: 30px;
  text-align: center;
}

.firstDiv {
  display: flex;
  justify-Content: center;
  align-Items: center;
  width: 900px;
}

.underDiv1 {
  display: flex;
  justify-Content: center;
  align-Items: center;
  width: 300px;
}

.underDiv2 {
  display: flex;
  justify-Content: center;
  align-Items: center;
  width: 300px;
  height: 574px;
}

.underDiv3 {
  display: flex;
  justify-Content: center;
  align-Items: center;
  width: 300px;
  height: 574px;
}

.td1 {
  background-Color: white;
  width: 200px;
  font-size: 15px;
}

.td2 {
  background-Color: white;
  font-Style: unset;
  font-Size: 100px;
}

.td3 {
  background-Color: white;
  width: 50px;
  font-Size: 15px;
}